<nav id="sidemenu" class="sidemenu">
    <a class="menu-option" href="https://www.google.com"><object type="image/svg+xml" data="svg/sidemenu/art_pieces_icon.svg"></object><div class="menu-option-description">Art Pieces</div></a>
    <a class="menu-option"><object type="image/svg+xml" data="svg/sidemenu/collaborations_icon.svg"></object><div class="menu-option-description">Partners</div></a>
    <a class="menu-option"><object type="image/svg+xml" data="svg/sidemenu/commissions_icon.svg"></object><div class="menu-option-description">Commissions</div></a>
    <a class="menu-option"><object type="image/svg+xml" data="svg/sidemenu/contact_info_icon.svg"></object><div class="menu-option-description">Contact</div></a>
    <a class="menu-option"><object type="image/svg+xml" data="svg/sidemenu/inspirations_icon.svg"></object><div class="menu-option-description">Inspirations</div></a>
</nav>